.navbar{
    background-image: url(img1.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 120px;

}
.landing-page h4{
    background-color: #DB8ADE;
    width: 180px;
    color: white;
    font-size: 20px;
}
.landing-page h1{
    font-size: 60px;
    font-weight: 800;

}
.fs-8{
    font-size: 15px;
}
.aboutus h3{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.aboutus span{
    color: #DB8ADE;
    font-size: 30px;
    font-weight: 800;
}
.box-design{
    box-shadow: 1px 1px 19px 2px lightgrey;
    border-radius: 6px;
    margin-bottom: 50px;
}
.box-design img{
    top: -40px;
    left: 30px;
}
.team-mem h3{
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.team-mem span{
    color: #DB8ADE;
    font-size: 30px;
    font-weight: 800;
}
.rubby span{
    padding: 2px 20px 2px 20px;
}
.box-sha{
    box-shadow: 0px 0px 17px 1px lightgrey;
    border-radius: 28px;
}
.courses{
    display: inline-block;
    background-image: url(img15.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    top: 0;
    padding: 200px 0px;
    background-position: center;
    /* right: 0; */
    /* left: 0; */
    /* background-repeat: no-repeat; */
}
.footer{
    background-image: url(img21.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 134px 36px;
}
.footer .bg-design{
    background-color: white;
    z-index: 1000;
    position: absolute;
    border-radius:10px ;
    box-shadow: 1px 1px 19px 2px lightslategray;
    top: 10rem;
    padding: 48px 14px;

}
.footer .btn{
    text-decoration: none !important;

    background: linear-gradient( 270deg, rgba(242,157,231,1) 11%,rgba(246,191,159,1)50%);
}
.footer .fs-8{
    font-size: 0.8rem;
    padding: 12px 28px;
}
.icon i{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    padding-top: 1rem;
    color: #DB8ADE;
    margin-left: 1rem;
    transition: 0.5s;
}
.icon i:hover{
    background-color: #DB8ADE;
    color: white;

}
@media only screen and (max-width:1200px) {
    .navbar{
       background: linear-gradient(270deg, rgba(242,157,231,1) 11%, rgba(246,191,159,1)50%) !important;
       height: auto;
    }
    .footer .bg-design{
        position: relative !important;
        top: 0 !important;
        margin-bottom: 20px;
    }
}
@media  only screen  and (max-width:1650px){
    .navbar{
        background-size: contain !important;
    }

}